[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-code-dark"]
	path = bundle/vim-code-dark
	url = https://github.com/tomasiser/vim-code-dark.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-signify"]
	path = bundle/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vlime"]
	path = bundle/vlime
	url = https://github.com/vlime/vlime.git
[submodule "bundle/vim-obsession"]
	path = bundle/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "bundle/vim-perl"]
	path = bundle/vim-perl
	url = https://github.com/vim-perl/vim-perl.git
