[submodule "pack/bundle/start/tagbar"]
	path = pack/bundle/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "pack/bundle/start/targets.vim"]
	path = pack/bundle/start/targets.vim
	url = https://github.com/wellle/targets.vim.git
[submodule "pack/bundle/start/undotree"]
	path = pack/bundle/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "pack/bundle/start/vim-fugitive"]
	path = pack/bundle/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/bundle/start/vim-lion"]
	path = pack/bundle/start/vim-lion
	url = https://github.com/tommcdo/vim-lion.git
[submodule "pack/bundle/start/vim-obsession"]
	path = pack/bundle/start/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "pack/bundle/start/vim-polyglot"]
	path = pack/bundle/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "pack/bundle/start/vim-qf"]
	path = pack/bundle/start/vim-qf
	url = https://github.com/romainl/vim-qf.git
[submodule "pack/bundle/start/vim-qlist"]
	path = pack/bundle/start/vim-qlist
	url = https://github.com/romainl/vim-qlist.git
[submodule "pack/bundle/start/vim-surround"]
	path = pack/bundle/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/bundle/opt/vlime"]
	path = pack/bundle/opt/vlime
	url = https://github.com/vlime/vlime.git
[submodule "pack/bundle/start/vim-sneak"]
	path = pack/bundle/start/vim-sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule "pack/bundle/start/ctrlp.vim"]
	path = pack/bundle/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/bundle/start/linediff.vim"]
	path = pack/bundle/start/linediff.vim
	url = https://github.com/AndrewRadev/linediff.vim.git
[submodule "pack/bundle/opt/tmuxline.vim"]
	path = pack/bundle/opt/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "pack/bundle/opt/vim-lucius"]
	path = pack/bundle/opt/vim-lucius
	url = https://github.com/jonathanfilip/vim-lucius.git
[submodule "pack/bundle/opt/Apprentice"]
	path = pack/bundle/opt/Apprentice
	url = https://github.com/romainl/Apprentice.git
[submodule "pack/bundle/opt/vim-slime"]
	path = pack/bundle/opt/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
